# Backend
backend/node_modules/
backend/.env
backend/package-lock.json

# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/package-lock.json

# Archivos del sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/